.root {
    -fx-background-color: #161616;
    -fx-text-fill: #FFFFFF;
}

.text-field, .password-field {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-background-color: #601F9E;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: 900;
}

.toggle-button {
    -fx-background-color: #1E1E1E;
}

.active-page-indicator {
    -fx-fill: #601F9E;
}

.inactive-page-indicator {
    -fx-fill: #1E1E1E;
}

.active-page-indicator-label {
    -fx-text-fill: #FFFFFF;
}

.inactive-page-indicator-label {
    -fx-text-fill: #A1A1A1;
}

.sidePanel {
    -fx-background-color: #1E1E1E;
}

.NoBackground {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.panelBackground {
    -fx-background-color: #313131;
}

.label {
    -fx-text-fill: #FFFFFF;
}