.root {
    -fx-background-color: #B2CED6;
    -fx-text-fill: rgba(0, 0, 0, 0.5);
}

.text-field, .password-field {
    -fx-background-color: #F1F9FF;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #96BCB4;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: 900;
}

.toggle-button {
    -fx-background-color: #000000;
}

.active-page-indicator {
    -fx-fill: #96BCB4;
}

.inactive-page-indicator {
    -fx-fill: #F1F9FF;
}

.active-page-indicator-label {
    -fx-text-fill: #FFFFFF;
}

.inactive-page-indicator-label {
    -fx-text-fill: #A1A1A1;
}


