.root {
    -fx-background-color: #B2CED6;
    -fx-text-fill: rgb(255, 255, 255);
}

.text-field, .password-field {
    -fx-background-color: #F1F9FF;
    -fx-text-fill: #1E1E1E;
}

.button, ToggleButton {
    -fx-background-color: #96BCB4;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: 900;
}

.button:hover, ToggleButton:hover {
    -fx-background-color: #a9d5cc;
}

.active-page-indicator {
    -fx-fill: #96BCB4;
}

.inactive-page-indicator {
    -fx-fill: #F1F9FF;
}

.active-page-indicator-label {
    -fx-text-fill: #FFFFFF;
}

.inactive-page-indicator-label {
    -fx-text-fill: #A1A1A1;
}

.sidePanel {
    -fx-background-color: #96BCB4;
}

.NoBackground {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.panelBackground {
    -fx-font-weight: 900;
    -fx-padding: 5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: rgba(255, 255, 255, 0.35);
    -fx-text-fill: #FFFFFF;
}

.label {
    -fx-text-fill: #FFFFFF;
}

.panelBackground:hover {
    -fx-background-color: rgba(255, 255, 255, 0.25);
}